WebMain/WebMain/Connected Services/ServiceGeometry/WebGeometryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="webgeom" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="webgeom" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="webgeom">
      <s:element name="Intersec">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="data" type="tns:InputData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="InputData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Lines" type="tns:ArrayOfLine" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLine">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Line" nillable="true" type="tns:Line" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Line">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="A" type="tns:Point" />
          <s:element minOccurs="0" maxOccurs="1" name="B" type="tns:Point" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Point">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="X" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="Y" type="s:float" />
        </s:sequence>
      </s:complexType>
      <s:element name="IntersecResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IntersecResult" type="tns:OutputData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="OutputData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Inter" type="tns:Point" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="IntersecSoapIn">
    <wsdl:part name="parameters" element="tns:Intersec" />
  </wsdl:message>
  <wsdl:message name="IntersecSoapOut">
    <wsdl:part name="parameters" element="tns:IntersecResponse" />
  </wsdl:message>
  <wsdl:portType name="WebGeometryServiceSoap">
    <wsdl:operation name="Intersec">
      <wsdl:input message="tns:IntersecSoapIn" />
      <wsdl:output message="tns:IntersecSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebGeometryServiceSoap" type="tns:WebGeometryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Intersec">
      <soap:operation soapAction="webgeom/Intersec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebGeometryServiceSoap12" type="tns:WebGeometryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Intersec">
      <soap12:operation soapAction="webgeom/Intersec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebGeometryService">
    <wsdl:port name="WebGeometryServiceSoap" binding="tns:WebGeometryServiceSoap">
      <soap:address location="http://localhost:61083/WebGeometryService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebGeometryServiceSoap12" binding="tns:WebGeometryServiceSoap12">
      <soap12:address location="http://localhost:61083/WebGeometryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>